.full-calendar{
    direction: rtl;
}

.heb-day{
   /* background: lightblue; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;   
   font-size: 1em; */
}

.day-continer{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    /* height: 38px; */
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50% ; 
    margin: 2px 2px;
}

.a{
    width: 7%;
    height: inherit;
    text-align: center;
    background-color: lightblue;
    padding: 3.5% !important;
    font-size: 0.8vw;
    border-radius: 50%;
}
.candle{
    display: flex;
    font-size: 0.8vw;
    position: absolute;
    bottom: 0;
}
.candle-svg{
    width: 1vw;
    height: auto;
}

.svg{
    fill:coral;
}

.time{
    position: relative;
    bottom: -0.2vw;
}