.full-calendar{
    direction: rtl;
    width: 80vw;
    height: 100vh;
}

.heb-day{

}

.day-continer{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    /* height: 38px; */
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50% ; 
    /* border-radius: 100px ; */
    margin: 2px 2px;
}

.a{
    width: 7%;
    height: inherit;
    text-align: center;
    background-color: lightblue;
    padding: 3.5% !important;
    font-size: 0.8vw;
    border-radius: 50%;
}
.candle{
    /* display: flex;
    font-size: 0.8vw;
    position: absolute;
    bottom: 0; */
    text-align: center;
    
}
/* .candle-svg{
    width: 1vw;
    height: auto;
}

.svg{
    fill:coral;
}

.time{
    position: relative;
    bottom: -0.2vw;
} */
.day-grid{
    display: grid;
    height: 99%;
    width: 99%;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 15% auto 15% 15%;
}
.omer{
    text-align: center;
}
.up{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
}
.buttom{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
